#CharImage{
height:200pt;
width:400pt;
padding-left: 250pt;
}
#Nakov { 
height:500pt;
width:700pt;
padding-left: 120pt;
margin-top: -30pt;
}
#Kurtev {
height:400pt;
width:790pt;
padding-left: 80pt;
margin-top: 5pt;
}
#Petya {
height:475pt;
width:710pt;
padding-left: 110pt;
margin-top: -30pt;
}
#Vladimir {
height:430pt;
width:980pt;
padding-left: 0pt;
margin-top: 0pt;
}
#Vladislav {
height:400pt;
width:900pt;
padding-left: 0pt;
margin-top: 15pt;
}
article h2 , article h3 , article p {
margin-top: 20pt;
margin-left: 135pt;
margin-right:135pt;
}