
#normal2, #normal3, #normal4, #normal5, #normal6, #normal7, #normal8, #normal9, #normal10 {
	display: none;
}
#gallery {
	margin: 0 auto;
	width: 100%;
}
#thumbs {
	margin: 10px auto 10px auto;

	width: 95%;
}
#bigimages {
	width: 95%;
	float: left;
    text-align: center;
}
#thumbs img {
	width: 10%;
	height: 10%;
}
#bigimages img {
	border: 4px solid #808080;
	margin-top: 5px;
	width: 80%;
}
#thumbs a:link, #thumbs a:visited {
	width: 20%;
	height: 20%;
	border: 3px solid #000;
    margin-bottom:10px;
	
}
#thumbs a:hover {
	border: 3px solid #0ff;
}
