
#normal2, #normal3, #normal4, #normal5 {
	display: none;
}
#gallery {
	margin: 0 auto;
	width: 800px;
}
#thumbs {
	margin: 10px auto 10px auto;
	text-align: center;
	width: 800px;
}
#bigimages {
	width: 770px;
	float: left;
}
#thumbs img {
	width: 130px;
	height: 130px;
}
#bigimages img {
	border: 4px solid #808080;
	margin-top: 5px;
	width: 750px;
}
#thumbs a:link, #thumbs a:visited {
	width: 130px;
	height: 130px;
	border: 3px solid #000;
    margin-bottom:10px;
	
}
#thumbs a:hover {
	border: 3px solid #0ff;
}