html,
body, section,article, div {
	margin: 0;
	padding: 0;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
}
#logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin-left: auto;
    margin-right: auto;
}
nav #border-nav {
    background-color: transparent;
    border: none;
}
main {
     margin-left: auto;
     margin-right: auto;
}
footer {
    
    margin-left: auto;
    margin-right: auto;
}
.icons {
    width: 48px;
    float: right;
}
#trans {
    background: rgba(200, 195, 195, 0.2);
    color: #000;
    padding: 10px;
}


section {
    word-break: break-all; 
    padding: 5px;   
}
p {
    word-break: break-all;
}
hr {
    width: 90%;
    background-color:#000;
    display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto; 
border-style: inset;
border-width: 1px;
}

#footercontent {
    padding-right: 50pt;
}
#footer {
    margin-left: auto;
    margin-right: auto;
    
}

#nav {
    margin-left: auto;
    margin-right: auto;
}
#navigation {
    font-size: 15px;

}
ul {
    list-style-type: disc;
    list-style:  url("../images/clip.png");

    

}
ul.navigation {
    list-style: none;
     font-family: Tahoma, Verdana , sans-serif;
    font-size: 14px;
   
    

  
}
a:visited {
    color: #000;
}
ul.navigation a {
    text-decoration: none;
    outline-style: none;
    

    
}
ul.navigation li {
    float:left;
    width: 170px;
    height: 85px;
    position: relative;
    color: #f00;

}

ul.navigation li > a{
    position:absolute; /*tuka*/
    top:0px;
    left:0px;
    width:170px;
    height:85px;
    z-index:12;
    
    -moz-box-shadow:0px 0px 0px #000 inset;
    -webkit-box-shadow:0px 0px 0px #000 inset;
    box-shadow:0px 1px 0px #000 inset;
    
    border-bottom: 1px solid;
    border-bottom-color:#000;


}
ul.navigation li a img{
    border:none;
    position:absolute; /*tuka*/
    width:0px;
    height:0px;
    bottom:0px;
    left:85px;
    z-index:100;
    -moz-box-shadow:0px 0px 4px #000;
    -webkit-box-shadow:0px 0px 4px #000;
    box-shadow:0px 0px 4px #000; 

}
ul.navigation li span.nav_wrap{
    position:absolute; /*tuka*/
    top:25px;
    left:0px;
    width:170px;
    height:60px;
    z-index:15;


}
ul.navigation li span.nav_active{
    position:absolute;
    background:#111;
    top:85px;
    width:170px;
    height:0px;
    left:0px;
    z-index:14;
    -moz-box-shadow:0px 0px 4px #000 inset;
    -webkit-box-shadow:0px 0px 4px #000 inset;
    box-shadow:0px 0px 4px #000 inset; 
    
}
ul.navigation li span span.nav_box_header,
ul.navigation li span span.nav_box_descr,
ul.navigation li div.nav_box a{
    margin-left:15px;
    text-transform:uppercase;
    text-shadow:1px 1px 1px #000;
    color:#000;

}
/* Styling the box */
ul.navigation li span span.nav_box_header{
    color:#808080;
    font-size:24px;
    float:left;
    clear:both;
}
ul.navigation li span span.nav_box_descr{
    color:#0B75AF;
    float:left;
    clear:both;
    width:155px;
    font-size:10px;
    letter-spacing:1px;
}
/* ======================================= */
ul.navigation li div.nav_box{
    display:block;
    position:absolute;
    width:170px;
    overflow:hidden;
    height:170px;
    top:85px;
    left:0px;
    display:none;
    background:#000;

}
ul.navigation li div.nav_box a{
    float:left;
    clear:both;
    line-height:30px;
    color:#0B75AF;
}

ul.navigation li div.nav_box a:first-child{
    margin-top:15px;
}
ul.navigation li div.nav_box a:hover{
    color:#fff;
}