html,
body {
	margin:0;
	padding:0;
	height:100%;
}
  img {
  float: right;
  margin: 0 0 1em 1em;
  }
.wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
	background:#5ee;
}
nav {
     vertical-align: top;
      text-align: right;
}
#content {
	padding:10px;
	padding-bottom:80px;   
}
sidebar {
float:right;
width:230px;
padding:10px;
background:#99c;
}
#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}
